<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Git cours </title>
  <style>
    .center{
      display: block;
      position: relative;
      height: 25vh;
      width: 80%;
      margin: 25vh auto;
      box-sizing:border-box;
      padding: 20px 0px ;
      background: #F2F2F2 ;
      border: 1px solid transparent;
      text-align: center;
      
    }
  </style>
</head>
<body>
  <div class="center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quibusdam,  assumenda excepturi?</div>
</body>
</html>